html,
body,
#App{
    padding: 0;
    margin: 0;
    height: 100%;
    /* 给布局设置最小宽度 */
    min-width: 1366px;
    /* min-height: 882px; */
}
/* 富文本编辑器样式 */
.ql-editor{
    min-height: 300px;
}